<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Chat</title>
</head>
<script>
</script>
<body>
  <header class="header">
    <img class="logo" src="logo.svg" alt="">
    <form action="/join">
    <input class="call-to-action" type="submit" value="Criar sala">
  </header>  

    <div class="rooms">
      <% rooms.forEach((room, index) => { %>
        <div class="room">
          <div class="room-content">
            <h2>Sala <%= index+1 %></h2>
            <p>Usuarios conectados: <%= room.users.length %></p>
          </div>
          
          <div class="room-btn">
            <a class="btn" href="/room/<%= room.room_id %>">Entrar</a>
          </div> 
        </div>
      <% }); %>
    </div>
  </form>
</body>
</html>